// -----------------------------------------------------------------------------
// MONTSERRAT FONT FAMILY
// -----------------------------------------------------------------------------
@font-face {
    font-family: 'Montserrat';
    src: font("Montserrat-Light.eot");
    src: font("Montserrat-Light.woff2") format("woff2"),
         font("Montserrat-Light.woff") format("woff"),
         font("Montserrat-Light.ttf") format("truetype"),
         font("Montserrat-Light.svg#Montserrat-Light") format("svg"),
         font("Montserrat-Light.eot?#iefix") format("embedded-opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: font("Montserrat-Regular.eot");
    src: font("Montserrat-Regular.woff2") format("woff2"),
         font("Montserrat-Regular.woff") format("woff"),
         font("Montserrat-Regular.ttf") format("truetype"),
         font("Montserrat-Regular.svg#Montserrat-Regular") format("svg"),
         font("Montserrat-Regular.eot?#iefix") format("embedded-opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: font("Montserrat-SemiBold.eot");
    src: font("Montserrat-SemiBold.woff2") format("woff2"),
         font("Montserrat-SemiBold.woff") format("woff"),
         font("Montserrat-SemiBold.ttf") format("truetype"),
         font("Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg"),
         font("Montserrat-SemiBold.eot?#iefix") format("embedded-opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: font("Montserrat-Bold.eot");
    src: font("Montserrat-Bold.woff2") format("woff2"),
         font("Montserrat-Bold.woff") format("woff"),
         font("Montserrat-Bold.ttf") format("truetype"),
         font("Montserrat-Bold.svg#Montserrat-Bold") format("svg"),
         font("Montserrat-Bold.eot?#iefix") format("embedded-opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

// -----------------------------------------------------------------------------
// TAJAWAL FONT FAMILY
// -----------------------------------------------------------------------------
@font-face {
    font-family: 'Tajawal';
    src: font("Tajawal-Light.eot");
    src: font("Tajawal-Light.woff2") format("woff2"),
         font("Tajawal-Light.woff") format("woff"),
         font("Tajawal-Light.ttf") format("truetype"),
         font("Tajawal-Light.svg#Tajawal-Light") format("svg"),
         font("Tajawal-Light.eot?#iefix") format("embedded-opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: font("Tajawal-Regular.eot");
    src: font("Tajawal-Regular.woff2") format("woff2"),
         font("Tajawal-Regular.woff") format("woff"),
         font("Tajawal-Regular.ttf") format("truetype"),
         font("Tajawal-Regular.svg#Tajawal-Regular") format("svg"),
         font("Tajawal-Regular.eot?#iefix") format("embedded-opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: font("Tajawal-Medium.eot");
    src: font("Tajawal-Medium.woff2") format("woff2"),
         font("Tajawal-Medium.woff") format("woff"),
         font("Tajawal-Medium.ttf") format("truetype"),
         font("Tajawal-Medium.svg#Tajawal-Medium") format("svg"),
         font("Tajawal-Medium.eot?#iefix") format("embedded-opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: font("Tajawal-Bold.eot");
    src: font("Tajawal-Bold.woff2") format("woff2"),
         font("Tajawal-Bold.woff") format("woff"),
         font("Tajawal-Bold.ttf") format("truetype"),
         font("Tajawal-Bold.svg#Tajawal-Bold") format("svg"),
         font("Tajawal-Bold.eot?#iefix") format("embedded-opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}