// -----------------------------------------------------------------------------
// CLIENTS
// -----------------------------------------------------------------------------
.clients{
    text-align: center;

    .client-logos{
        img{
            width: auto;
            height: 55px;
            margin-bottom: 45px;
        }
    }
}

// -----------------------------------------------------------------------------
// CLIENTS (RTL)
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// CLIENTS (RESPONSIVE)
// -----------------------------------------------------------------------------