// -----------------------------------------------------------------------------
// INITIAL FONT SIZE
// -----------------------------------------------------------------------------
$initial-font-size: 10px;
$mobile-font-size: 9px;

// -----------------------------------------------------------------------------
// ELEMENTS DEFAULT MAX WIDTH CENTERING
// -----------------------------------------------------------------------------
$default-width-center-percent: 90%;
$default-max-width: 1366px;

// -----------------------------------------------------------------------------
// FONT FAMILIES
// -----------------------------------------------------------------------------
$primary-font-family: "Montserrat";
$secondary-font-family: "Tajawal";

// -----------------------------------------------------------------------------
// MAIN COLORS
// -----------------------------------------------------------------------------
$primary-color: #636466;
$secondary-color: #bb141a;
$primary-color-hover: #494949;
$secondary-color-hover: #941217;
$secondary-color-overlay: rgba(187, 20, 26, 0.7);
$separator-color: #f8f8f8;

// -----------------------------------------------------------------------------
// TEXT COLOR
// -----------------------------------------------------------------------------
$text-color: #636466;